{% extends "base.html.twig" %}

{% block title %}
	Snowtrick
{% endblock %}

{% block body %}

	<div class="container-fluid d-flex flex-column" id="hero">

		<div class="h-75 d-flex align-items-center justify-content-center">
			<h1>SnowTricks</h1>
		</div>


		<a href="#" class="mt-auto align-self-end mb-5">
			<i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
		</a>


	</div>

	<div class="container">

		<div class="d-flex flex-wrap justify-content-center">
			{%  for trick in tricks %}

				{% include "trick/_parts/_trick.html.twig" with {"trick": trick} %}

			{% endfor %}
		</div>

	</div>

{% endblock %}
