{% extends "base.html.twig" %}

{% block title %}
	Snowtrick
{% endblock %}

{% block body %}

	<div class="container-fluid d-flex flex-column" id="hero">

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }} alert-dismissible fade show m-1" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %}

		<div class="h-75 d-flex align-items-center justify-content-center">

			<h1>SnowTricks</h1>
		</div>


		<a href="#tricks" class="mt-auto align-self-end mb-5">
			<i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: #D8E6F2;"></i>
		</a>


	</div>

	<div class="container mb-5">

		<div class="d-flex flex-wrap justify-content-center" id="tricks">
			{%  for trick in tricks %}

				{% include "trick/_parts/_trick.html.twig" with {"trick": trick} %}

			{% endfor %}
		</div>

	</div>

{% endblock %}
