{% extends "base.html.twig" %}

{% block title %}
	Snowtrick
{% endblock %}

{% block body %}

	{% for label, messages in app.flashes %}
		{% for message in messages %}

			<div class="container mt-3 alert alert-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	<div class="container-fluid d-flex flex-column" id="hero">

		<div class="h-75 d-flex align-items-center justify-content-center">
			<h1>SnowTricks</h1>
		</div>


		<a href="#tricks" class="mt-auto align-self-end mb-5">
			<i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: #D8E6F2;"></i>
		</a>


	</div>

	<div class="container mb-5">

		<div class="d-flex flex-wrap justify-content-center" id="tricks">
			{%  for trick in tricks %}

				{% include "trick/_parts/_trick.html.twig" with {"trick": trick} %}

			{% endfor %}
		</div>

	</div>

{% endblock %}
