{% extends "base.html.twig" %}

{% block body %}
	<div class="container text-center pt-5">
		<h1>OUPS !</h1>

		<p>
			La page que vous recherchez semble introuvable
		</p>
		<p>Code d'erreur : 404</p>
		<p>Voici quelques lien utiles a la place :</p>
		<ul>
			<li><a href="/">Accueil</a></li>
		</ul>
	</div>
{% endblock %}
