{% extends "base.html.twig" %}

{% block title %}
	Edit Trick
{% endblock %}

{% block body %}

	<div class="container">


		<h1 class="mt-4 text-primary">
			{% if null != trick.id %}Edit Trick
				{% else %}New Trick
			{% endif %}

		</h1>

		{% include 'trick/_parts/form_trick.html.twig' with {form: form} only %}

	</div>

{% endblock %}
