{% extends "base.html.twig" %}

{% block title %}
	Edit Trick
{% endblock %}

{% block body %}

	<div class="container">


		<h1>Edit Trick</h1>

		{% include 'trick/_parts/form_trick.html.twig' with {form: form} only %}

	</div>

{% endblock %}
