<div class="mt-3">
	<table class="table table-bordered ">
		<thead class="table-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Created At</th>
				<th scope="col">Content</th>

				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in user.comments %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{comment.createdAt | date("d/m/Y")}}</td>
					<td>{{comment.content}}</td>
					<td>
						<a href="{{path('admin_trick_show', {'id':comment.trick.id})}}#comments" type="button" class="btn btn-primary">
							<i class="bi bi-eye"></i>
						</a>

						<button type="button" class="btn btn-danger">
							<i class="bi bi-trash"></i>
						</button>
					</td>
				</tr>

			{% endfor %}


		</tbody>
	</table>
</div>
